.home-body {
	background-position: center; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);	
  	-ms-filter: blur32px);
  	filter: blur(3px);

  	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: 0;
}

.log-in {
	margin-top: 10%;
}

.page-header-custom {
	margin: 20px 0 20px!important;
	border-bottom: 1px solid #bdc3c7;
}

.form-createuser {
	color: rgba(236, 240, 241,1.0);
	background: rgba(255, 255, 255, 1.0);
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 10px 0px rgba(255, 255, 255, 1);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 1);
}

.form-create-user-title {
	color: #444444;
}

.topbar {
	height: 50px;
}