body {
	color: #444;
	margin: 0;
	background: #f4f4f4;
	overflow: none;
}

.home-body {
	background-position: center; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);	
  	-ms-filter: blur32px);
  	filter: blur(3px);

  	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: 0;
}

.log-in {
	margin-top: 4%;
}

.page-header-custom {
	margin: 20px 0 60px!important;
	border-bottom: 1px solid #bdc3c7;
}

.page-header {
	margin: 100px 0 20px;
}

.page-header-custom h1 {
	border-bottom: 0px
}

.form-createuser {
	color: rgba(236, 240, 241,1.0);
	background: rgba(255, 255, 255, 1.0);
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 10px 0px rgba(255, 255, 255, 1);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 1);
}

.form-create-user-title {
	color: #444444;
}

.topbar {
	margin-top: 200px;
}

.topbar-image {
	background: #6cab26;
	background-image: url("../img/background.jpg");
	background-image: url("../img/background.jpg"), -webkit-gradient(linear, to bottom, from(#6cab26), to(#6ceb86));
	background-image: url("../img/background.jpg"), -webkit-linear-gradient(top, #6cab26, #6ceb86);
	background-image: url("../img/background.jpg"), -moz-linear-gradient(top, #6cab26, #6ceb86);
	background-image: url("../img/background.jpg"), -o-linear-gradient(top, #6cab26, #6ceb86);
	background-image: url("../img/background.jpg"), linear-gradient(to bottom, #6cab26, #6ceb86);
	background-size: cover;
	height: 100%;	
	position: absolute;
	width: 100%;
}

.update-user-title {
	margin-bottom: 20px;
	font-weight: 600;
	padding: 0;
	margin: 0;
	color: #555;
}

.bar-border-radius {
	border-radius: 0px!important;
	background-color: #222!important;
}

.navbar-brand {
	color: #AAA!important;
}

.navbar-nav li:hover {
	background: #999;
	color: white;
}

.img-height {
	height: 100px;
	padding: 10px;
}

.header-link {
	
}

.avoidresize {
    resize: none;
}

.page-body {
	-webkit-box-shadow: 0px 0px 19px 0px rgba(56, 56, 56, 1);
	-moz-box-shadow:    0px 0px 19px 0px rgba(56, 56, 56, 1);
	box-shadow:         0px 0px 19px 0px rgba(56, 56, 56, 1);
	background: white;
	margin-top: 500px;	
	margin-bottom: 100px;
}

.content {
	margin-top: 25px;
	padding: 20px;
}

.navbar {
  	background-color: #333;
  	background-image: none;
	position: absolute;
	width: 100%;
	z-index: 10000;
	margin-top: 0px;
	border: none;
}

.btn {
	border-radius: 0px;
	border: 1px solid #8BA870;
	color: white;
	background: #9CBA7F;
	font-size: 10px
}

.form-control {
	border-radius: 0px
}

.alert {
	background-image: none;
	padding: 5px;
	margin-bottom: 5px;
}

label {
	margin-bottom: 0px;
	color: #555;
	font-style: normal
}

.input-label-info {
	font-size: 9px
}

.footer-info {
	margin-top: 100px;
	margin-bottom: 10px;
	padding: 5px;
	font-size: 10px;
}

@keyframes rotate-social-network {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.img-social-network {
	float: left; 
	height: 30px; 
	margin-left: 5px;
	animation-duration: 0.5s;
}

.img-social-network:hover {
	animation-name: rotate-social-network;
}


.image_carrousel {
	width: 100%;
	height: 180px;
	font-size: 100px;
	text-align: center;
	background: #f4f4f4
}

.image_carrousel:before {
	top: 20%;
	position: relative;
}

.media a, .media-high a {
	color: #777;
	text-decoration: none;
}

.media, .media-high {
	padding: 5px	
}

.media:hover {
	background: #e7e7e7;
}

.media-high {
	-webkit-box-shadow: 0px 0px 19px 0px rgba(56, 56, 56, 1);
	-moz-box-shadow:    0px 0px 19px 0px rgba(56, 56, 56, 1);
	box-shadow:         0px 0px 19px 0px rgba(56, 56, 56, 1);
	margin: 15px 0 15px;
}

.list-progress {
	height: 10px;
	border-radius: 0px;
	margin:58px 0px 0px;
}

.media-title {
	margin-top: 7px;
}

.p-media-body {
	height: 10px;
}

.premium-member-star {
	font-size: 30px;
}

.title-header {
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 4.5em;
	padding: 0;
	margin: 0;
}

.subtitle-header {
	color: white;
	font-size: 24px;
	text-align: center;
	font-weight: 200;
}

.form-group > input, .form-group >  textarea {
	padding: 30px;
	background-color: #f8f8f8;
	border: 1px solid rgba(0,0,0, 0.075);
	margin-bottom: 25px;
	font-size: 19px;
	transition: all 0.4s;
}